/* Reset básico */
* {
    box-sizing: border-box;
}

body, ul, li, h1, h2, h3, p, form {
    margin: 0;
    padding: 0;
}


/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #344955;  /* Cor de fundo escura */
    color: #ecf0f1; /* Cor do texto clara */
}

#app {
    display: flex;
    flex-direction: column;
    flex: 1;
}



/* Cabeçalho */
header {
    background-color: #2c3e50;  /* Cor de fundo mais escura para o cabeçalho */

    color: #fff;
    padding: 15px 20px;
    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

#username {
  font-size: 14px;

}


/* Navegação */
nav {
    background-color: #2c3e50;
    padding: 10px;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;

}


nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;


}


nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);

}


nav a i{
  margin-right: 5px; /* Adiciona um pequeno espaçamento entre o ícone e o texto */


}



/* Conteúdo principal */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #2c3e50;
  }


.content {
    display: none;
    background-color: #fff;
    color: #333; /* Cor de texto escura para contraste com o fundo branco */

    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;


}


.content.active {
    display: block;

}



/* Estilos de seções */
h2 {
    color: #333;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;


}

.nav-link {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.218);
    color: white;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Adiciona uma transição suave */

}



/* Dashboard */
#burndown-chart {
    width: 100%;
    max-width: 800px;
    height: 300px;

    margin-bottom: 20px;

    display: flex;
    justify-content: center;

}


#burndown-chart img {
    max-width: 100%;

}



#dashboard-info {
    display: grid;  /* Usa grid para melhor organização */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsivo */
    gap: 10px;  /* Espaçamento entre os cards */
    margin-bottom: 20px;

}


.info-card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    background: #f9f9f9;

}





/* Product Backlog */
#lista-historias {
    list-style: none;

}


#lista-historias li {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);


}


#backlog-acoes {
    margin-top: 15px;


}



/* Sprints */
#sprint-info {
    margin-bottom: 20px;

}



#sprint-info p {

    margin: 5px 0; /* Espaçamento consistente */

}



#sprint-acoes {
    display: flex;
    gap: 10px;


}


#sprint-acoes button {
    margin: 0;

}



#kanban {
    display: flex;
    overflow-x: auto;

}


#kanban .column {
    width: 250px;
    border: 1px solid #ccc;
    margin: 0 10px; /* Ajusta a margem lateral */
    padding: 10px;
    min-height: 300px;
    background: #eee; /* Cor de fundo mais clara */
    border-radius: 5px;
    flex-shrink: 0;

}



.column > div {
    background-color: #fff;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: move;

}



#daily-form,
#daily-list {
    margin-bottom: 20px;

}

#daily-list li {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);


}



/* Membros do time */
#lista-membros {
    list-style: none;
}



#lista-membros li {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 5px;


}



/* Configurações */
#configuracoes-form label {
    margin-top: 10px; /* Adiciona espaço acima dos labels */
}



/* Relatórios */
#relatorios-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}



.relatorio {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    flex-basis: 45%;
    box-sizing: border-box;
    background-color: #f9f9f9;


}


/* Modais */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}




.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

}



.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;

}



form label, form input, form textarea, form select {
    display: block;  /* Ocupa a largura toda */
    margin-bottom: 10px;
    width: calc(100% - 22px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;

}



/* Botões */
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;


    transition: background-color 0.3s ease; /* Adiciona uma transição suave */

}




button:hover {
    transition: background-color 0.3s ease; /* Cor mais escura ao passar o mouse */

}



/* Responsividade */
@media (max-width: 768px) {


    nav ul {
        flex-direction: column; /* Empilha os itens do menu */
        align-items: flex-start; /* Alinha os itens à esquerda */

    }


    nav li {
        margin: 5px 0; /* Ajusta a margem vertical */

    }


    #kanban {
        flex-direction: column;

    }



    #kanban .column {
        margin-bottom: 15px; /* Adiciona espaçamento inferior */
        min-width: 85%;


    }



    .modal-content {
        width: 90%;

    }



    #dashboard-info {

        grid-template-columns: 1fr; /* Uma coluna em telas menores */

    }


}

.logintitulo {
    text-align: center;
    color: white;
  }

.containerlogin {
    width: 20%;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.218);
    border-radius: 10px;
    color: white;
  }
  
  .containerlogin input {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
  }

  .botao {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.218);
    color: white;
    border-radius: 5px;
    text-align: center; 
    text-decoration: none;
    box-sizing: border-box; 
    margin: 10px 0; 
  }
  
  .botao:hover {
    transition: background-color 0.3s ease;
  } 
  
  .botaoCadastro{
    display: block;
    width: 50%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.218);
    color: white;
    border-radius: 5px;
    text-align: center; 
    text-decoration: none;
    box-sizing: border-box; 
    margin: 10px 60px; 
  }
  
  .botaoCadastro:hover {
    background-color: #1b3b1b;
  } 